<div class='container'>
<br>
	<div class="row">
		<div class="col-md-2 col-md-offset-1">IMG</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4"><h4>{{article.title}}</h4>
				</div>
				<div class='col-md-2'>
					<button class="btn btn-primary btn-sm like-btn" ng-click="updateLikes()">Like</button>
				</div>
				<div class="col-md-1">
					<p>{{article.likes}}</p>
				</div>
				<div class='col-md-2 col-md-offset-1'>
					<p>{{article.author}}</p>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-12'>
					<p>{{article.text}}</p>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-2'>
					<span>DATE</span>
				</div>
				<div class='col-md-2'>
					<span>comments</span>
				</div>
				<div class='col-md-2'>
					<button class="btn btn-sm btn-default">New Comment</button>
				</div>
			</div>
		</div>
	</div>
</div>