<div class='container panel panel-default'>
<br>
<div class="panel-body">
	<div class="row">
		<div class="col-md-2 right-margin" ><img class="article-pic" src="{{article.img}}" style="width:200px;height:200px;"></div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4"><h4>{{article.title}}</h4>
				</div>
				<div class='col-md-2'>
					<button class="btn btn-primary btn-sm like-btn" ng-click="updateLikes()">Like</button>
				</div>
				<div class="col-md-1">
					<p>{{article.likes}}</p>
				</div>
				<div class='col-md-2 col-md-offset-1'>
					<p>{{article.author}}</p>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-12'>
					<p>{{article.text}}</p>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-2'>
					<span>{{ article.dateCreated | date }}</span>
				</div>
				<div class='col-md-6'>
					<div ng-repeat='comment in article.comments' comment='comment' comment-template></div>
				</div>
				<div class='col-md-2'>
					<button class="btn btn-sm btn-default">New Comment</button>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>