
<div class='container'>
  <form>
    <div class="form-group">
      <label for="title-input">Title</label>
      <input type="text" class="form-control" id="title-input" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="author-input">Author</label>
      <input type="text" class="form-control" id="author-input" placeholder="Author">
    </div>
    <div class="form-group">
      <label for="pic-input">Picture Link (URL)</label>
      <input type="text" class="form-control" id="pic-input" placeholder="Picutre URL">
    </div>
    <div class="form-group">
      <label for="text-input">Text</label>
      <input type="text" class="form-control" id="text-input" placeholder="Text">
    </div>
    <button type="submit" class="btn btn-default" ng-click="">Submit</button>
  </form>
</div>