body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: none;
}

#sort {
	width: 150px;
}

.right-margin{
	margin-right: 30px;
}

.article-pic {
	border-radius: 15px;
}

li {
	list-style: none;
}